<table class="ui celled table unstackable">
  <thead>
    <tr>
      <th>Posição</th>
      <th>Time</th>
      <th>Jogos</th>
      <th>Vitórias</th>
      <th>Empates</th>
      <th>Derrotas</th>
      <th>GP</th>
      <th>GC</th>
      <th>SG</th>
      <th>Pontos</th>
      <th>Aproveitamento</th>
    </tr>
  </thead>

  <tbody>
    <% rankings.each_with_index do |rank, index| %>
      <% index = index + 1 %>
      <tr>
        <td><%= index %></td>
        <td><%= rank.player.team_name %> (<%= rank.player.name %>)</td>
        <td><%= rank.matches_count %></td>
        <td><%= rank.matches_won %> (<%= percent_for(rank.matches_won_percent) %>%)</td>
        <td><%= rank.matches_draw %> (<%= percent_for(rank.matches_draw_percent) %>%)</td>
        <td><%= rank.matches_lost %> (<%= percent_for(rank.matches_lost_percent) %>%)</td>
        <td><%= rank.goals_pro %></td>
        <td><%= rank.goals_against %></td>
        <td><%= rank.goals_balance %></td>
        <td><%= rank.total_points %></td>
        <td><%= percent_for(rank.utilization) %> %</td>
      </tr>
    <% end %>
  </tbody>
</table>
