<% if show? %>
  <section class="ui segment">
    <%= render 'matches/form' %>
    <div class="ui horizontal divider">Ou</div>
    <p><%= link_to 'Atualizar ranking', update_ranking_path, class: 'ui primary button', data: { disable_with: 'Atualizando...' } %></p>
  </section>
<% else %>
  <div id="results-table-container">
    <div class="ui top attached tabular menu">
      <div class="active item"><%= link_to '2017', 'javascrip:;', id: 'trigger-tab-2017' %></div>
      <div class="item"><%= link_to '2016', 'javascrip:;', id: 'trigger-tab-2016' %></div>
      <div class="item"><%= link_to '2015', 'javascrip:;', id: 'trigger-tab-2015' %></div>
      <div class="item"><%= link_to 'Acumulado', 'javascrip:;', id: 'trigger-tab-all' %></div>
    </div>
    <div class="ui bottom attached active tab segment">
      <div id="tab-2017"><%= render 'home/ranking_table', rankings: @rankings_2017 %></div>
      <div id="tab-2016" class="transition hidden"><%= render 'home/ranking_table', rankings: @rankings_2016 %></div>
      <div id="tab-2015" class="transition hidden"><%= render 'home/ranking_table', rankings: @rankings_2015 %></div>
      <div id="tab-all" class="transition hidden"><%= render 'home/ranking_table', rankings: @rankings_all %></div>
    </div>
  </div>
<% end %>
