<!DOCTYPE html>
<html>
  <head>
    <title>Futebol de Botão - Rio de Janeiro</title>
    <%= render 'shared/meta' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="ui container">
      <h1>Futebol de Botão - Rio de Janeiro</h1>

      <p>Peladinha de toda quinta no <a target="_new" href="http://www.botaofc.com.br/loja/">Botão FC</a> no <a target="_new" href="https://www.google.com.br/maps/place/Shopping+Tijuca+-+Av.+Maracan%C3%A3,+987+-+Tijuca,+Rio+de+Janeiro+-+RJ/@-22.9219385,-43.2353733,17z/data=!3m1!5s0x997e6bb2d3ec9f:0xb22ccd0fa557f160!4m7!1m4!3m3!1s0x997e6bb065c221:0xd18c16c53667dc84!2sShopping+Tijuca!3b1!3m1!1s0x997e6bb33b90db:0xdf835aeab427afd6?hl=en">Shopping Tijuca</a></p>

      <%= flash_messages %>

      <%= yield %>
    </div>
  </body>
</html>
